/* ARROW IN CIRCLE ---------------------------------------------- */
.svg-icon.arrow-in-circle,
.svg-icon.arrow-in-circle * {
  box-sizing: border-box;
}
.svg-icon.arrow-in-circle {
  display: block;
  width: 103px;
  height: 103px;
}
.svg-icon.arrow-in-circle svg > .wrap .circle circle {
  stroke: var(--black);
  fill: transparent;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.svg-icon.arrow-in-circle svg > .wrap .arrow {
  fill: var(--black);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* MAGNIFYING GLASS --------------------------------------------- */
.svg-icon.magnifying-glass,
.svg-icon.magnifying-glass * {
  box-sizing: border-box;
}
.svg-icon.magnifying-glass,
.svg-icon.magnifying-glass svg {
  display: block;
}
.svg-icon.magnifying-glass .path {
  fill: var(--brand-primary);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.svg-icon.magnifying-glass:hover .path {
  fill: var(--brand-secondary);
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

/* SLIDER ARROW ------------------------------------------------- */
.svg-icon.slider-arrow,
.svg-icon.slider-arrow * {
  box-sizing: border-box;
}
.svg-icon.slider-arrow {
  display: block;
  width: 17px;
  height: 29px;
}
.svg-icon.slider-arrow .path {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  fill: var(--black);
}
.svg-icon.slider-arrow:hover .path {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  fill: var(--brand-primary);
}

/* SOCIAL MEDIA ICONS ------------------------------------------- */
.svg-icon.social-media-icon,
.svg-icon.social-media-icon * {
  box-sizing: border-box;
}
.svg-icon.social-media-icon,
.svg-icon.social-media-icon svg {
  display: block;
}
.svg-icon.social-media-icon .foreground,
.svg-icon.social-media-icon .background {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.svg-icon.social-media-icon:hover .foreground,
.svg-icon.social-media-icon:hover .background {
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.svg-icon.social-media-icon .foreground {
  fill: var(--white);
}
.svg-icon.social-media-icon .background {
  fill: var(--black);
}
.svg-icon.social-media-icon:hover .background {
  fill: var(--brand-primary);
}