/* ARROW IN CIRCLE ---------------------------------------------- */
.svg-icon.arrow-in-circle,
.svg-icon.arrow-in-circle * {
  box-sizing: border-box;
}
.svg-icon.arrow-in-circle {
  display: block;
  width: 103px;
  height: 103px;
}
.svg-icon.arrow-in-circle svg > .wrap .circle circle {
  stroke: var(--black);
  fill: transparent;
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.arrow-in-circle svg > .wrap .arrow {
  fill: var(--black);
  @include prefix-gen(transition, all 200ms ease-in-out);
}

/* CLOSE BUTTON ------------------------------------------------- */
.svg-icon.close-button,
.svg-icon.close-button * {
  box-sizing: border-box;
}
.svg-icon.close-button {
  display: block;
  width: 100%;
  height: 100%;
}
.svg-icon.close-button svg .circle {
  fill: var(--brand-primary);
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.close-button svg .path {
  fill: none;
  stroke: var(--white);
  stroke-width: 2px;
  @include prefix-gen(transition, all 200ms ease-in-out);
}

/* MAGNIFYING GLASS --------------------------------------------- */
.svg-icon.magnifying-glass,
.svg-icon.magnifying-glass * {
  box-sizing: border-box;
}
.svg-icon.magnifying-glass,
.svg-icon.magnifying-glass svg {
  display: block;
}
.svg-icon.magnifying-glass .path {
  fill: var(--brand-primary);
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.magnifying-glass:hover .path {
  fill: var(--brand-secondary);
  @include prefix-gen(transition, all 200ms ease-in-out);
}

/* PLAY BUTTON -------------------------------------------------- */
.svg-icon.play-button,
.svg-icon.play-button * {
  box-sizing: border-box;
}
.svg-icon.play-button {
  display: block;
  width: 124px;
  height: 124px;
}
.svg-icon.play-button svg .circle {
  fill: var(--brand-primary);
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.play-button svg .path {
  fill: var(--white);
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.play-button:hover svg .circle {
  fill: var(--brand-secondary);
}
.svg-icon.play-button:hover svg .path {
  fill: var(--white);
}

/* SLIDER ARROW ------------------------------------------------- */
.svg-icon.slider-arrow,
.svg-icon.slider-arrow * {
  box-sizing: border-box;
}
.svg-icon.slider-arrow {
  display: block;
  width: 17px;
  height: 29px;
}
.svg-icon.slider-arrow .path {
  @include prefix-gen(transition, all 200ms ease-in-out);
  fill: var(--black);
}
.svg-icon.slider-arrow:hover .path {
  @include prefix-gen(transition, all 200ms ease-in-out);
  fill: var(--brand-primary);
}

/* SOCIAL MEDIA ICONS ------------------------------------------- */
.svg-icon.social-media-icon,
.svg-icon.social-media-icon * {
  box-sizing: border-box;
}
.svg-icon.social-media-icon,
.svg-icon.social-media-icon svg {
  display: block;
}
.svg-icon.social-media-icon .foreground,
.svg-icon.social-media-icon .background {
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.social-media-icon:hover .foreground,
.svg-icon.social-media-icon:hover .background {
  @include prefix-gen(transition, all 200ms ease-in-out);
}
.svg-icon.social-media-icon .foreground {
  fill: var(--white);
}
.svg-icon.social-media-icon .background {
  fill: var(--black);
}
.svg-icon.social-media-icon:hover .background {
  fill: var(--brand-primary);
}