// FLEXBOX GENERATION: Creates prefixed flexbox blocks ---------- */
@mixin flexbox-gen($direction: null, $wrap: null, $align-items: null, $justify-content: null, $gap: null, $show-display: true) {
  @if $show-display {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  @if $direction and $wrap {
    -ms-flex-flow: $direction $wrap;
    -webkit-flex-flow: $direction $wrap;
    flex-flow: $direction $wrap;
  }
  @if $align-items {
    align-items: $align-items;
  }
  @if $gap {
    gap: $gap;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
}

/* FONT SMOOTHING: Creates the necessary font smoothing rules */
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* PREFIX GENERATION: Creates compatibility prefixing */
@mixin prefix-gen($title, $values...) {
  -webkit-#{$title}: $values;
  -moz-#{$title}: $values;
  -o-#{$title}: $values;
  #{$title}: $values;
}

/* PSEUDO ELEMENT GENERATION */
@mixin pseudo-gen($content, $display, $position, $z-index) {
  content: $content;
  display: $display;
  position: $position;
  z-index: $z-index;
}

/* REMOVE DEFAULT BUTTON STYLES */
@mixin remove-button-styles() {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  color: var(--black);
  font-size: 16px;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
}

/* VISUALLY HIDDEN */
@mixin visually-hidden() {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px, 1px, 1px, 1px); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(50%); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}