/* POST LIST + POST ITEMS --------------------------------------- */
.post-list,
.post-list * {
  box-sizing: border-box;
}
article.item {
  @include flexbox-gen(row, nowrap);
  padding-bottom: 2em;
  border-bottom: 1px solid var(--black);
  margin-bottom: 2em;
}
article.item .content {
  width: 100%;
}
article.item .thumbnail {
  width: 200px;
}
article.item .thumbnail img {
  display: block;
  max-width: 100%;
}
article.item .thumbnail + .content {
  width: calc(100% - 200px);
  padding-left: 30px;
}
article.item .content h2 {
  margin: 0 0 0.5em;
}
article.item .content h2 a { }
article.item .content .blog-taxonomy {
  margin: 0 0 1em;
}
article.item .content .blog-taxonomy a {
  display: inline-block;
  padding-right: 0.5em;
  border-right: 1px solid var(--black);
  margin-right: 0.5em;
  line-height: 1em;
}
article.item .content .blog-taxonomy a:last-child {
  padding-right: 0;
  border-right: none;
  margin-right: 0;
}
article.item .content .blog-taxonomy a:last-child { }
article.item .content .blurb {
  margin: 0 0 1.5em;
}
article.item .content .btn-wrap { }
article.item .content .btn-wrap .btn { }


/* POST LIST FILTERING ------------------------------------------ */
.post-list-filtering,
.post-list-filtering * {
  box-sizing: border-box;
}
.post-list-filtering {
  @include flexbox-gen(row, nowrap, $justify-content: space-between, $gap: 30px 50px);
  width: 100%;
  margin: 0 0 80px;
}
.post-list-filtering .filter-category {
  position: relative;
  width: 300px;
}
.post-list-filtering .select-css {
display: block;
width: 100%;
font-size: 14px;
font-family: sans-serif;
font-weight: 700;
color: var(--black);
line-height: 1.25em;
padding: 1em 5em 1em 1em;
width: 100%;
max-width: 100%;
box-sizing: border-box;
margin: 0;
border: 2px solid var(--black);
box-shadow: none;
border-radius: 0;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background: var(--white) url('../img/static-icons/select-trigger.png') right center no-repeat;
background-size: auto 100%;
}
.post-list-filtering .select-css::-ms-expand {
display: none;
}
.post-list-filtering .select-css:hover {
/* border-color: var(--black); */
}
.post-list-filtering .select-css:focus {
/* border-color: #aaa;
box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
box-shadow: 0 0 0 3px -moz-mac-focusring;
color: var(--black);
outline: none; */
}
.post-list-filtering .select-css option {
font-weight:normal;
}
.post-list-filtering .filter-text {
position: relative;
flex-grow: 1;
}
.post-list-filtering .filter-text input[name='filter-text'] {
position: relative;
z-index: 1;
width: 100%;
padding: 1em 50px 1em 0;
background-color: transparent;
outline: none;
border: 2px solid var(--black);
border-top-color: transparent;
border-right-color: transparent;
border-left-color: transparent;
color: var(--black);
font-size: 14px;
font-weight: 700;
line-height: 1.25em;
}
.post-list-filtering .filter-text button[type='submit'] {
display: block;
margin: 0;
overflow: hidden;
padding: 0;
border: none;
outline: none;
background: transparent;
color: var(--black);
font-size: 16px;
line-height: 1em;
text-align: left;
text-decoration: none;
text-indent: -9999em;
cursor: pointer;
-webkit-appearance: none;
-moz-appearance: none;
position: absolute;
top: 0;
right: 0;
z-index: 2;
height: 50px;
width: 50px;
}
.post-list-filtering .filter-text button[type='submit'] .svg-icon,
.post-list-filtering .filter-text button[type='submit'] .svg-icon svg {
height: 30px;
width: 30px
}
.post-list-filtering .filter-text button[type='submit'] .svg-icon {
margin: 10px;
}
.post-list-filtering .filter-text button[type='submit'] .svg-icon svg .path {
fill: var(--black);
}