.image-cta,
.image-cta * {
  box-sizing: border-box;
}
.image-cta {
  display: block;
  text-decoration: none;
}
.image-cta .image-wrap {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 50px;
  padding: 0 0 100%;
  border-radius: 56px;
}
.image-cta .image-wrap .image {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  margin: -50% 0 0 -50%;
  background: var(--black) url('../../img/spacer.gif') center center no-repeat;
  background-size: cover;
  @include prefix-gen(transition, transform 200ms ease-in-out);
  @include prefix-gen(transform, scale(1));
}
a.image-cta:hover .image-wrap .image {
  @include prefix-gen(transition, transform 300ms ease-in-out);
  @include prefix-gen(transform, scale(1.1));
}
.image-cta .content { 
  display: block;
  position: relative;
  z-index: 1;
}
.image-cta .content > *:first-child {
  margin-top: 0;
}
.image-cta .content > *:last-child {
  margin-bottom: 0;
}
.image-cta .title {
  display: block;
  color: var(--black);
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2em;
}
.image-cta .text {
  display: block;
  color: var(--black);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
}
.image-cta .title + .text {
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {

  .image-cta .image-wrap {
    margin-bottom: 30px;
  }
  .image-cta .title {
    font-size: 32px;
  }
  .image-cta .text {
    font-size: 18px;
  }
  
}

@media screen and (max-width: 950px) {
  
}