/* IMPORT BASE STYLES ------------------------------------------- */
@import "blocks/block-patterns-base";
@import "blocks/basic-content-wrapper";
@import "blocks/accordion";


/* BASIC CONTENT WRAPPER ---------------------------------------- */
/* The following might help with block creation due to space constraints in admin view */
.editor-styles-wrapper .wp-block-singular > .wp-block-group__inner-container,
.editor-styles-wrapper .wp-block-singular > .wp-block-cover__inner-container {
  /* padding: 0 !important; */
  max-width: 100% !important;
}
/* ACCORDION OVERRIDES ------------------------------------------ */
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container { 
  border: 1px solid var(--black);
  padding: 10px;
}
.editor-styles-wrapper .wp-block.singular-accordion-container::before,
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-title::before,
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-content::before {
  content: '';
  display: block;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 5px;
  font-weight: 700;
  font-size: 10px;
}
.editor-styles-wrapper .wp-block.singular-accordion-container::before {
  content: 'accordion block';
}
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-title::before {
  content: 'title';
}
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-content::before {
  content: 'content';
}
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container > .wp-block-group__inner-container { }
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item { 
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--black);
}
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item > .wp-block-group__inner-container { }
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-title { 
  margin-top: 0;
}
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-title > .wp-block-group__inner-container { }
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-content { 
  margin-bottom: 0;
}
.editor-styles-wrapper .wp-block.wp-block-singular.accordion-container .wp-block.accordion-item-content > .wp-block-group__inner-container { }
