/* STS GLOBALS -------------------------------------------------- */
.singular-theme-support-wrap {
  position: relative;
  margin-left: -20px;
}
.sts-wrap {
  padding-left: 20px;
  padding-right: 20px;
}
.sts-wrap > *:first-child {
  margin-top: 0;
}
.sts-wrap > *:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 782px) {

  .singular-theme-support-wrap {
    margin-left: -10px;
  }

}

/* STS HEADER --------------------------------------------------- */
.sts-header {
  background-color: #333;
}
.sts-header .sts-wrap {
  padding: 20px;
}
.sts-header .title {
  color: var(--white);
  font-size: 26px;
  font-weight: 700;
  line-height: 1em;
}

/* STS NAVIGATION ----------------------------------------------- */
.sts-navigation {
  display: none;
  background-color: #666;
}
.sts-navigation > ul {
  @include flexbox-gen(row, nowrap);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sts-navigation > ul > li { 
  margin: 0;
}
.sts-navigation > ul > li > a {
  display: block;
  padding: 10px 20px;
  background-color: transparent;
  color: var(--white);
  text-decoration: none;
}
.sts-navigation > ul > li > a:hover {
  background-color: var(--brand-primary);
}
.sts-navigation > ul > li.home > a {
  font-weight: 700;
}

/* STS CONTENT AREA --------------------------------------------- */
.sts-content {
  font-size: 16px;
}
.sts-content .sts-wrap {
  padding: 20px;
}
.sts-content h1 {
  font-size: 1.75em;
}
.sts-content h2 {
  font-size: 1.5em;
}
.sts-content h3 {
  font-size: 1.25em;
}
.sts-content ul,
.sts-content ol,
.sts-content p {
  font-size: 1em;
}
.sts-content code {
  display: block;
  padding: 10px 20px;
  background-color: #333;
  color: #ccc;
  line-height: 1.75em;
}
.sts-content ul {
  list-style-type: disc;
  padding-left: 1em;
}