.color-block-cta,
.color-block-cta * {
  box-sizing: border-box;
}
.color-block-cta {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  min-height: 625px;
  border-radius: 56px;
  text-decoration: none;
}
.color-block-cta > .wrap { 
  display: block;
  position: relative;
  z-index: 1;
  padding: 70px;
}
.color-block-cta .title {
  display: block;
  color: #000;
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2em;
}
.color-block-cta .text {
  display: block;
  color: #000;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3em;
}
.color-block-cta .svg-icon.arrow-in-circle {
  display: block;
  position: absolute;
  z-index: 2;
  top: 25px;
  right: 25px;
  height: 103px;
  width: 103px;
}

@media screen and (max-width: 1600px) {

  .color-block-cta > .wrap { 
    padding: 50px;
  }
  
}

@media screen and (max-width: 1200px) {

  .color-block-cta {
    min-height: 500px;
  }
  .color-block-cta .title {
    font-size: 32px;
  }
  .color-block-cta .text {
    font-size: 24px;
  }
  .color-block-cta .svg-icon.arrow-in-circle {
    height: 75px;
    width: 75px;
    top: 20px;
    right: 20px;
  }
  
}