/* Main column width */
.wp-block {
  max-width: 100%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 100%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}


/* BLOCK EDITOR FONT STYLES ------------------------------------- */
.editor-styles-wrapper {
  font-family: $font-standard;
}
.editor-styles-wrapper h1:not(.wp-block-post-title) {
  font-family: $font-standard;
}
