/* Main column width */
.wp-block {
  max-width: 100%;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
  max-width: 100%;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
  max-width: none;
}


/* MISCELLANEOUS STYLES AND OVERRIDES --------------------------- */
.editor-styles-wrapper {
  font-family: $font-standard;
}
