/* BUTTONS ------------------------------------------------------ */
.btn,
.btn-wrap a,
input[type="submit"],
.wp-block-button .wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  display: inline-block;
  height: auto;
  margin: 0 0 0.5em;
  padding: 1em 2em;
  border: none;
  outline: none;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include prefix-gen(transition, color 200ms ease-in-out, background 200ms ease-in-out);
}
.btn:hover,
.btn-wrap a:hover,
input[type="submit"]:hover,
.wp-block-button .wp-block-button__link:hover,
.editor-styles-wrapper .wp-block-button .wp-block-button__link:hover {
  background: var(--black);
  color: var(--white);
}