/* CUSTOM & EXTERNAL BUTTONS ------------------------------------ */
.btn,
input[type="submit"] {
  @include buttons-base();
  @include buttons-normal();

  &:hover {
    @include buttons-hover();
  }

}

.btn-wrap {

  a {
    @include buttons-base();
    @include buttons-normal();

    &:hover {
      @include buttons-hover();
    }

  }

}


/* BLOCK BUILDER BUTTONS ---------------------------------------- */
.wp-block-button .wp-block-button__link,
.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  @include buttons-base();
  @include buttons-normal();

  &:hover {
    @include buttons-hover();
  }

  &.has-red-background-color {
    @include buttons-normal(red, var(--white));

    &:hover {
      @include buttons-hover(var(--black), var(--white));
    }
    
  }

  &.has-black-background-color {
    @include buttons-normal($color: var(--white));

    &:hover {
      @include buttons-hover(var(--white) !important, var(--black));
    }
    
  }

}

.has-black-background-color,
.editor-styles-wrapper .has-black-background-color {
    
  .wp-block-button .wp-block-button__link {

    &.has-black-background-color {
      @include buttons-normal($background-color: var(--white) !important, $color: var(--black));

      &:hover {
        @include buttons-hover(red !important, var(--white));
      }
      
    }

  }

}


/* SPECIALTY BUTTONS -------------------------------------------- */
button.close-modal {
  display: block;
  position: relative;
  z-index: 1;
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  color: var(--black);
  font-size: 16px;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
}
button.close-modal .svg-icon.close-button { }