/* CHANGE THE FOLLOWING LOCATIONS TO MATCH:
- /functions.php
- /inc/singular-functions::singular_color_palette_class
- /js/acf-api.js

Use Naming Conventions From:
https://chir.ag/projects/name-that-color/
*/
/* COLOR PALETTE VARIABLES -------------------------------------- */
:root {
  --brand-primary: #0000ff;
  --brand-secondary: #ff0000;
  --black: #000000;
  --white: #ffffff;
}

/* solid colors */
.has-primary-color {
  color: var(--brand-primary) !important;
}
.has-primary-background-color {
  background-color: var(--brand-primary);
}
.has-secondary-color {
  color: var(--brand-secondary) !important;
}
.has-secondary-background-color {
  background-color: var(--brand-secondary);
}
.has-black-color {
  color: var(--black) !important;
}
.has-black-background-color {
  background-color: var(--black);
}
.has-white-color {
  color: var(--white) !important;
}
.has-white-background-color {
  background-color: var(--white);
}

/* gradients */
.has-left-to-right-light-to-dark-green-gradient-background {
  background: rgb(104,189,73);
  background: -moz-linear-gradient(90deg, rgba(104,189,73,1) 0%, rgba(0,111,81,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(104,189,73,1) 0%, rgba(0,111,81,1) 100%);
  background: linear-gradient(90deg, rgba(104,189,73,1) 0%, rgba(0,111,81,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#68bd49",endColorstr="#006f51",GradientType=1);
}
.has-angled-light-to-dark-green-gradient-background {
  background: rgb(104,189,73);
  background: -moz-linear-gradient(132deg, rgba(104,189,73,1) 0%, rgba(104,189,73,1) 20%, rgba(0,111,81,1) 60%, rgba(18,59,125,1) 100%);
  background: -webkit-linear-gradient(132deg, rgba(104,189,73,1) 0%, rgba(104,189,73,1) 20%, rgba(0,111,81,1) 60%, rgba(18,59,125,1) 100%);
  background: linear-gradient(132deg, rgba(104,189,73,1) 0%, rgba(104,189,73,1) 20%, rgba(0,111,81,1) 60%, rgba(18,59,125,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#68bd49",endColorstr="#123b7d",GradientType=1);
}

/* OVERRIDES ---------------------------------------------------- */

/* black overrides */
.has-black-background-color,
.has-black-background-color h1,
.has-black-background-color h2,
.has-black-background-color h3,
.has-black-background-color h4,
.has-black-background-color h5,
.has-black-background-color p,
.has-black-background-color p a,
.has-black-background-color ul,
.has-black-background-color ol {
  color: var(--white) !important;
}