/* The rules below are ones which will commonly be changed. By default, they mostly match the default Ninja Forms styles and are here simply to make it easier to change them reliably. */

/* global wrapper and erros */
#page .nf-form-cont { }
#page .nf-form-title { }
#page .nf-form-title h3 { }
#page .nf-form-content {
  max-width: 100%;
  padding: 0;
}
#page .nf-error-msg,
#page .ninja-forms-req-symbol {
  color: #e80000;
}
#page .nf-error .ninja-forms-field {
  border-color: #e80000 !important;
}
#page .nf-error.field-wrap .nf-field-element:after {
  right: 0;
  height: 34px;
  width: 36px;
  line-height: 36px;
}
#page #ninja_forms_required_items,
#page .nf-field {
  margin: 22px 0;
}
#page .nf-field-container {
  margin: 0;
}

/* labels */
#page .nf-form-content .label-above .nf-field-label,
#page .nf-form-content .label-below .nf-field-label,
#page .nf-form-content .label-hidden .nf-field-label {
  margin: 0;
  padding: 0;
}
#page .nf-form-content label {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5em;
}

/* standard fields */
#page .nf-form-content .ninja-forms-field:not([type="button"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
  margin: 0;
  padding: 8px;
  font-size: 15px;
}
#page .nf-form-content input:not([type="button"]):not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
#page .nf-form-content textarea {
  height: 36px;
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 0;
  box-shadow: none;
  color: #787878;
  line-height: 36px;
}
#page .nf-form-content textarea {
  height: 200px;
  line-height: 1.25em;
}

/* select fields */
#page .nf-form-content .list-select-wrap > div select,
#page .nf-form-content .listcountry-wrap > div select {
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
}
#page .nf-form-content .list-select-wrap .nf-field-element > div,
#page .nf-form-content .listcountry-wrap .nf-field-element > div {
  background: var(--white);
  border: 1px solid var(--black);
  border-radius: 0;
  box-shadow: none;
  color: var(--black);
}
#page .nf-form-content .list-select-wrap > div div,
#page .nf-form-content .listcountry-wrap > div div {
  display: block;
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 16px;
  height: 36px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#page .nf-form-content .listselect-wrap .nf-field-element div,
#page .nf-form-content select.ninja-forms-field:not([multiple]) {
  height: 36px;
}
#page .nf-form-content .list-select-wrap > div div:after,
#page .nf-form-content .listcountry-wrap > div div:after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 0;
  height: 36px;
  line-height: 36px;
}
.list-select-wrap select:active + div,
.list-select-wrap select:focus + div,
.listcountry-wrap select:active + div,
.listcountry-wrap select:focus + div {
  background: var(--white) !important;
  border-color: var(--black) !important;
  transition: all .5s;
}

/* buttons */
#page .nf-form-content button,
#page .nf-form-content input[type="button"],
#page .nf-form-content input[type="submit"] { }
#page .nf-form-content button:hover,
#page .nf-form-content input[type="button"]:hover,
#page .nf-form-content input[type="submit"]:hover { }
