/* DESKTOP NAVIGATION ------------------------------------------- */
#navigation,
#navigation * {
  box-sizing: border-box;
}
#navigation {
  display: block;
  position: relative;
  z-index: 99;
}
#navigation a {
  text-decoration: none;
}
#navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navigation ul li {
  position: relative;
}
#navigation ul li > .no-link {
  cursor: default;
}

/* top tier */
#navigation ul.menu { }
#navigation ul.menu > li {
  float: left;
}
#navigation ul.menu > li.mobile-only {
  display: none;
}
#navigation ul.menu > li > a,
#navigation ul.menu > li > .no-link {
  display: block;
  position: relative;
  padding: 0.5em 1em;
  color: var(--black);
  font-size: 16px;
}
#navigation ul.menu > li:first-child > a,
#navigation ul.menu > li:first-child > .no-link {
  padding-left: 0;
}
#navigation ul.menu > li:last-child > a,
#navigation ul.menu > li:last-child > .no-link {
  padding-right: 0;
}

/* second tier */
#navigation ul.menu > li > ul {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background: var(--white);
  @include prefix-gen(transition-property, opacity, visibility);
  @include prefix-gen(transition-duration, 200ms, 0s);
  @include prefix-gen(transition-timing-function, ease-in-out, linear);
  @include prefix-gen(transition-delay, 0s, 200ms);
}
#navigation ul.menu > li:hover > ul {
  visibility: visible;
  opacity: 1;
  @include prefix-gen(transition-delay, 0s, 0s);
}
#navigation ul.menu > li > ul > li { }
#navigation ul.menu > li > ul > li > a,
#navigation ul.menu > li > ul > li > .no-link {
  display: block;
  min-width: 15em;
  padding: 0.5em 1em;
  color: var(--black);
  background-color: transparent;
  @include prefix-gen(transition, background-color 200ms ease-in-out);
}
#navigation ul.menu > li > ul > li:hover > a,
#navigation ul.menu > li > ul > li:hover > .no-link {
  color: var(--white);
  background-color: var(--black);
}

/* third tier */
#navigation ul.menu > li > ul > li > ul {
  display: block;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 100%;
  background: var(--white);
  @include prefix-gen(transition-property, opacity, visibility);
  @include prefix-gen(transition-duration, 200ms, 0s);
  @include prefix-gen(transition-timing-function, ease-in-out, linear);
  @include prefix-gen(transition-delay, 0s, 200ms);
}
#navigation ul.menu > li > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  @include prefix-gen(transition-delay, 0s, 0s);
}
#navigation ul.menu > li > ul > li > ul > li { }
#navigation ul.menu > li > ul > li > ul > li > a,
#navigation ul.menu > li > ul > li > ul > li > .no-link {
  display: block;
  min-width: 15em;
  padding: 0.5em 1em;
  color: red;
  background-color: transparent;
  @include prefix-gen(transition, background-color 200ms ease-in-out);
}
#navigation ul.menu > li > ul > li > ul > li:hover > a,
#navigation ul.menu > li > ul > li > ul > li:hover > .no-link {
  color: var(--white);
  background-color: var(--black);
}


/* MOBILE MENU TRIGGER ------------------------------------------ */
#mm-trigger,
#mm-trigger * {
  box-sizing: border-box;
}
#mm-trigger {
  display: none;
  position: relative;
  z-index: 1;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  @include prefix-gen(transition, right 400ms ease-in-out);
}
body.mm-wrapper--opened #mm-trigger {
  right: 440px;
}
#mm-trigger .trigger-title {
  display: none;
}
#mm-trigger .trigger-wrapper {
  display: block;
  width: 60px;
}
#mm-trigger .trigger-container {
  display: block;
  position: relative;
  width: 40px;
  height: 30px;
  margin: 15px 10px;
  @include prefix-gen(transform, rotate(0deg));
  @include prefix-gen(transition, all 500ms ease-in-out);
  cursor: pointer;
}
#mm-trigger .trigger-container span {
  display: block;
  position: absolute;
  left: 0;
  height: 6px;
  width: 100%;
  background: var(--black);
  border-radius: 0px;
  opacity: 1;
  @include prefix-gen(transform, rotate(0deg));
  @include prefix-gen(transition, all 250ms ease-in-out);
}
#mm-trigger .trigger-container span:nth-child(1) {
  top: 0px;
}
#mm-trigger .trigger-container span:nth-child(2),
#mm-trigger .trigger-container span:nth-child(3) {
  top: 12px;
}
#mm-trigger .trigger-container span:nth-child(4) {
  top: 24px;
}
body.mm-wrapper--opened #mm-trigger .trigger-container span:nth-child(1),
body.mm-wrapper--opened #mm-trigger .trigger-container span:nth-child(4) {
  top: 24px;
  width: 0%;
  left: 50%;
}
body.mm-wrapper--opened #mm-trigger .trigger-container span:nth-child(2) {
  @include prefix-gen(transform, rotate(45deg));
}
body.mm-wrapper--opened #mm-trigger .trigger-container span:nth-child(3) {
  @include prefix-gen(transform, rotate(-45deg));
}


/* MOBILE MENU OVERRIDES ---------------------------------------- */
/* #wpadminbar is 32px tall */
.mm-menu {
  /* --mm-color-background: var(--white); */
  /* --mm-color-border: var(--black); */
  /* --mm-color-text-dimmed: var(--black); */
  /* --mm-color-text: var(--black); */
}
#mm-clone-navigation {
  display: none;
}
body.admin-bar #mm-clone-navigation {
  top: 32px;
}


@media screen and (max-width: 1400px) {

  /* DESKTOP NAVIGATION ------------------------------------------- */
  #navigation {
    display: none !important;
  }

  /* MOBILE MENU TRIGGER ------------------------------------------ */
  #mm-trigger {
    display: block;
  }

  /* MOBILE MENU OVERRIDES ---------------------------------------- */
  #mm-clone-navigation {
    display: block;
  }

}

@media screen and (max-width: 782px) {

  /* MOBILE MENU OVERRIDES ---------------------------------------- */
  /* #wpadminbar is 46px tall */
  body.admin-bar #mm-clone-navigation {
    top: 46px;
  }

}

@media screen and (max-width: 550px) {

  /* MOBILE MENU TRIGGER ------------------------------------------ */
  body.mm-wrapper--opened #mm-trigger {
    right: 80%;
  }

}
