/* GLOBAL ELEMENTS ---------------------------------------------- */
html.js #footer > .wrap {
  opacity: 0;
}


/* STAGGER ANIMATION CSS ---------------------------------------- */
.st-animate { }


// fade-in
html.js .st-animate.fade-in {
  opacity: 0;
}


/* IMMEDIATE ANIMATION CSS -------------------------------------- */
.im-animate { }

// fade-in
html.js .im-animate.fade-in {
  opacity: 0;
}

// stagger fade
html.js .im-animate.stagger-fade {
  opacity: 0;
}


/* GLOBAL/STANDARD BLOCKS AND SITUATIONS ------------------------ */

// basic content wrapper
html.js .wp-block-singular > .wp-block-group__inner-container {
  opacity: 0;
}

// accordions
html.js .wp-block-singular.accordion-container > .wp-block-group__inner-container {
  opacity: 1;
}
html.js .wp-block-singular.accordion-container .accordion-item { 
  opacity: 0;
}

// post banners
html.js #banner-post .content-wrap > *,
html.js #banner-post .post-banner-section {
  opacity: 0;
}
#banner-post .content-wrap > * {
  position: relative;
}

// rich banners 
.banner-rich .content-wrap > * {
  position: relative;
}
html.js .banner-rich .content-wrap > * {
  opacity: 0;
}

// search results
html.js #search-results .search-result {
  opacity: 0;
}

// simple banner
.banner .content > * {
  position: relative;
}
html.js .banner .content > * {
  opacity: 0;
}