html.js .wp-block-singular.testimonial-block > .wp-block-group__inner-container {
  opacity: 1;
}

// testimonials block
html.js .wp-block-singular.testimonial-block .image {
  opacity: 0;
}
html.js .wp-block-singular.testimonial-block .content-item {
  opacity: 0;
}